@import 'tailwindcss';
@import '@yaireo/tagify/dist/tagify.css';
@import "simple-notify/dist/simple-notify.css";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.active{
    color: #007AFF;
    background-color: color-mix(in oklab, #007AFF 10%, transparent);
}

.tagify {
  --tag-text-color: #007AFF;
  --tag-bg: color-mix(in oklab, #007AFF 10%, transparent);
  --tag-pad: .3em 0.5em;
  border: none;
}
